DB_USER="testuser"
DB_PASSWORD="testpassword"
DB_NAME="hlsoc"
DB_HOST="db"
DB_PORT=5432
JWT_SECRET="foobar"
GRPC_ADDR=":9090"
PG_DSN="postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/{DB_NAME}?sslmode=disable"